extends layout

block content
  h1= title
  p Welcome to #{title}

  - if (typeof(email) !== 'undefined'){
    |= #{email}
  - } else {
    |= #{income}
    |= #{debt}
    |= #{zip}
  - }
  |= #{cashortravel}