extends layout

block content
  include headers/_judging

  - if (typeof(email) !== 'undefined'){
    |= #{email}
  - } else {
    |= #{income}
    |= #{debt}
    |= #{loc}
    |= #{cost}
  - }
  |= #{cashortravel}