extends layout

block content
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
  include headers/_suggestion

  - if (typeof(email) !== 'undefined'){
    | #{email}
  - } else {
    | #{income}
    | #{debt}
    | #{loc}
    | #{cost}
  - }
  | #{cashortravel}

  .data-manip
    .tabs
        .tab 0%
        .tab 15%
        .tab 30%
        .tab 40%
    div(id="myChart" width="400" height="400")

  script.

    (function($){
        var chart = Highcharts.chart('myChart', {

            chart: {
                type: 'column'
            },
            xAxis: {
                categories: ["Venture Rewards", "Quicksilver Rewards", "VentureOne Rewards", "QuicksilverOne Rewards", "Platinum"],
            },

            yAxis: {
                min: 0,
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: 'Total Rewards',
                data: [#{totalRewards[0]}],
                stack: 'money'
            }, {
                name: 'Signing Bonuses',
                data: [#{signBonuses[0]}],
                stack: 'money'
            }, {
                name: 'Total Interests',
                data: [#{totalInterests[0]}],
                stack: 'interest'
            }]
        });

        var totalRewards = [
          [#{totalRewards[0]}],
          [#{totalRewards[1]}],
          [#{totalRewards[2]}],
          [#{totalRewards[3]}]
        ];
        var signBonuses = [
          [#{signBonuses[0]}],
          [#{signBonuses[1]}],
          [#{signBonuses[2]}],
          [#{signBonuses[3]}]
        ];
        var totalInterests = [
          [#{totalInterests[0]}],
          [#{totalInterests[1]}],
          [#{totalInterests[2]}],
          [#{totalInterests[3]}]
        ];
        var currentTab = 0;
        //tabs
        var tabs = document.getElementsByClassName('tab');
        $(tabs[0]).addClass('selected');
        var wasSelected = document.getElementsByClassName('selected')[0];
        for (i = 0; i < tabs.length; i++) {
            var newTab = tabs[i];
            currentTab = i;
            $(newTab).click(function(){
                var newTab = this;
                $(wasSelected).removeClass('selected');
                $(newTab).addClass('selected');
                wasSelected = newTab;
                chart.series[0].setData(totalRewards[i]);
                chart.series[1].setData(signBonuses[i]);
                chart.series[2].setData(totalInterests[i]);
            });
        }

    })(jQuery);