extends layout

block content
  //script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js")
  script(src="https://code.highcharts.com/highcharts.js")
  script(src="https://code.highcharts.com/modules/exporting.js")
  include headers/_suggestion

  - var cards = ["Venture Rewards", "Quicksilver Rewards", "VentureOne Rewards", "QuicksilverOne Rewards", "Platinum"]

  - if (typeof(email) !== 'undefined'){
    | #{email}
    | Based on your transaction history
  - } else {
    | Based on your inputted income of $#{income}.
    | Based on your debt of $#{debt}.
    | Based on your location in: #{loc}.
    | Based on the average cost of living in your area: #{cost}.
  - }

  .the-card
    img(src="/images/cards/card" + bestCard + ".png")
    .text
        p Based on your preference of #{cashortravel}.
        p The suggested card is #{cards[bestCard]} with a fitness score of: #{maxFitness}.

  .data-manip
    .tabs
        .tab(value=0) 0%
        .tab(value=1) 15%
        .tab(value=2) 30%
        .tab(value=3) 40%
    div(id="myChart" width="400" height="400")

  script.

    (function($){
        var chart = Highcharts.chart('myChart', {

            chart: {
                type: 'column'
            },
            xAxis: {
                categories: ["Venture Rewards", "Quicksilver Rewards", "VentureOne Rewards", "QuicksilverOne Rewards", "Platinum"],
            },

            yAxis: {
                min: 0,
            },
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            enabled: false
                        }
                    }
                }]
            },
            legend: {
                align: 'right',
                verticalAlign: 'middle',
                layout: 'vertical'
            },

            tooltip: {
                formatter: function () {
                    return '<b>' + this.x + '</b><br/>' +
                        this.series.name + ': ' + this.y + '<br/>' +
                        'Total: ' + this.point.stackTotal;
                }
            },

            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },

            series: [{
                name: 'Total Rewards',
                data: [#{totalRewards[0]}],
                stack: 'money'
            }, {
                name: 'Signing Bonuses',
                data: [#{signBonuses[0]}],
                stack: 'money'
            }, {
                name: 'Total Interests',
                data: [#{totalInterests[0]}],
                stack: 'interest'
            }]
        });

        var totalRewards = [
          [#{totalRewards[0]}],
          [#{totalRewards[1]}],
          [#{totalRewards[2]}],
          [#{totalRewards[3]}]
        ];
        var signBonuses = [
          [#{signBonuses[0]}],
          [#{signBonuses[1]}],
          [#{signBonuses[2]}],
          [#{signBonuses[3]}]
        ];
        var totalInterests = [
          [#{totalInterests[0]}],
          [#{totalInterests[1]}],
          [#{totalInterests[2]}],
          [#{totalInterests[3]}]
        ];
        var currentTab = 0;
        //tabs
        var tabs = document.getElementsByClassName('tab');
        $(tabs[0]).addClass('selected');
        var wasSelected = document.getElementsByClassName('selected')[0];
        for (i = 0; i < tabs.length; i++) {
            var newTab = tabs[i];
            currentTab = i;
            $(newTab).click(function(){
                var newTab = this;
                $(wasSelected).removeClass('selected');
                $(newTab).addClass('selected');
                wasSelected = newTab;
                console.log($(newTab).attr("value"));
                chart.series[0].setData(totalRewards[$(newTab).attr("value")]);
                chart.series[1].setData(signBonuses[$(newTab).attr("value")]);
                chart.series[2].setData(totalInterests[$(newTab).attr("value")]);
                chart.redraw();
            });
        }

    })(jQuery);